body {
  font-family: "Palanquin", sans-serif;
  background-color: #cca2db;
  margin: 0%;
}
/* The navigation bar */
.bar {
  overflow: hidden;
  background-color: #7b48a4;
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* Links inside the navbar */
.bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin-top: 6px;
  margin-left: 32px;
  margin-bottom: 10px;
  text-decoration: none;
  
}

/* Change background on mouse-over */
.bar a:hover {
  background: #420c6c;
  color: lightcyan;
  
}
.logo {
  float: left;
  position: absolute;
  width: 43px;
  height: 43px;
  margin-left: 500px;
  background: url(5785344c4af8f155e0544a13.png);
  border-radius: 19px;
  margin-top: 4px;
}
.text-nav {
  margin-top: 8px;
}
.home {
  margin-left: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.15em;
}
.conntacts {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.15em;
}
.server {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.15em;
}
.anime {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  text-align: center;
}
/* FACE */
.slider {
  position: relative;
  z-index: 1;
}

.background {
  position: absolute;
  width: 1547.49px;
  height: 1038.85px;
  left: -257px;
  top: 69.87px;
  margin: 0%;
  background: url(1656011665_6-beolin-club-p-tsveti-sakuri-risunok-prostoi-krasivo-6.png);
  mix-blend-mode: soft-light;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-1.54deg);
}
.text {
  font-weight: 100;
  font-size: 26px;
  line-height: 142px;

  text-align: center;
  letter-spacing: 0.18em;
}
/* FRAME */
.frame {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  width: 358px;
  height: 419px;
  left: 358px;
  top: 159px;
  background: url("./img/.frame.png");
}
.frame-1 {
  position: absolute;
  width: 345px;
  height: 419px;
  left: 1163px;
  top: 185px;
}
/* NAME */

.vik {
  position: absolute;
  width: 320px;
  height: 353px;
  left: 425px;
  top: 588px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  letter-spacing: 0.18em;
}

.art {
  position: absolute;
  width: 319px;
  height: 302px;
  left: 1176px;
  top: 588px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.18em;

  color: #000000;
}
/* Background page-2 */
.guren {
  position: absolute;
  width: 270px;
  height: 226px;
  left: 375px;
  top: 125px;
}
.tyan {
  position: absolute;
  width: 270px;
  height: 226px;
  left: 825px;
  top: 427px;
}
.hory {
  position: absolute;
  width: 270px;
  height: 226px;
  left: 1275px;
  top: 125px;
}
.ottaku {
  position: absolute;
  width: 270px;
  height: 226px;
  left: 1275px;
  top: 810px;
}
.vnuk {
  position: absolute;
  width: 270px;
  height: 226px;
  left: 375px;
  top: 810px;
}
.line {
  position: absolute;
  width: 1816.7px;
  height: 410.45px;
  left: 31.5px;
  top: 357.05px;
}
/* Text-page-2 */
.text-guren {
  position: absolute;
  width: 300px;
  height: 479px;
  left: 56px;
  top: 128px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.15em;
}
.text-tyan {
  position: absolute;
  width: 177px;
  height: 60px;
  left: 872px;
  top: 628px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15em;
}
.text-ottaku {
  position: absolute;
  width: 324px;
  height: 324px;
  left: 1560px;
  top: 716px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.15em;
}
.text-vnuk {
  position: absolute;
width: 296px;
height: 257px;
left: 57px;
top: 760px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */

text-align: center;
letter-spacing: 0.15em;
}
.text-hory {
  position: absolute;
  width: 298px;
  height: 493px;
  left: 1576px;
  top: 79px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.15em;
}
.arows {
  position: absolute;
  width: 682.71px;
  height: 550.04px;
  left: 617px;
  top: 281px;
}
